/* Parent Container */
.content_img{
    position: relative;
    width: 275px;
    height: 375px;
    /* float: left; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5%
}

   /* Child Text Container */
.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    color: black;
    margin-bottom: 5px;
    font-family: 'Red Hat Display';
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

   /* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.fade-in-text {
    /* display: inline-block; */
    text-align: "center";
    justify-content: "center";
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Red Hat Display";
    letter-spacing: 0.2px;
    font-size: 21px;
    font-weight: 200;
    color: white;
    animation: fadeIn linear 8s;
    -webkit-animation: fadeIn linear 8s;
    -moz-animation: fadeIn linear 8s;
    -o-animation: fadeIn linear 8s;
    -ms-animation: fadeIn linear 8s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }