@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400&family=Playfair+Display&family=Red+Hat+Display:wght@400;500&display=swap');

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font-size: 14px;
    font-family: 'Barlow' 
}
